/*стили для кнопки удаления конторла*/
#removeControl{
	margin:20px 0;
	display:inline-block;
	height:20px;
	padding:0 10px;
	color:black;
	font-family:verdana;
	font-size:8pt;
	line-height:20px;
	border:1px solid #D4D4D4;
	border-radius: 6px;
	text-align:center;
	cursor:pointer;
}
#removeControl:hover{
	background:#DDDDDD;
}